{% extends "sample/base.html" %}
{% load i18n %}

{% block container %}
    <div class="container-fluid">
        <div class="row px-5" style="height: calc(100vh - 56px);">
            <div class="col-lg-5 col-sm-12 justify-content-center align-self-center">
                <h2>{% translate "Social Network Login Failure" %}</h2>
                <p>{% translate "An error occurred while attempting to login via your social network account." %}</p>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
