{% extends "sample/base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block navbar %}
    <li>
        <a class="nav-link" href="{% url "account_signup" %}">{% translate "Register" %}</a>
    </li>
{% endblock %}

{% block styles %}
    <style>
        .table-borderless td, .table-borderless th {
            border: none;
        }
    </style>
{% endblock %}

{% block container %}
    <div class="container-fluid">
        <div class="row px-5" style="height: calc(100vh - 56px);">
            <div class="col-lg-5 col-sm-12 justify-content-center align-self-center">
                <h2>{% translate "Login" %}</h2>

                {% get_providers as socialaccount_providers %}

                {% if socialaccount_providers %}
                    <p>{% blocktrans with site.name as site_name %}Please sign in with one
                        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                        for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

                    <div class="socialaccount_ballot">

                        <ul class="socialaccount_providers">
                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                        </ul>

                        <div class="login-or">{% translate 'or' %}</div>

                    </div>

                    {% include "socialaccount/snippets/login_extra.html" %}

                {% else %}
                    <p>{% blocktrans %}If you have not created an account yet, then please
                        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                {% endif %}
                <form method="post" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    <table class="table table-borderless">
                        {{ form.as_table }}
                    </table>
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button type="submit" class="btn btn-info" role="button">{% translate "Login" %}</button>
                </form>
                <br>
                <a href="{% url 'account_reset_password' %}">{% translate "Forgot Password?" %}</a>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
