{% extends "sample/base.html" %}
{% load i18n %}

{% block styles %}
    <style>
        .table-borderless td, .table-borderless th {
            border: none;
        }
    </style>
{% endblock %}

{% block container %}
    <div class="container-fluid">
        <div class="row px-5" style="height: calc(100vh - 56px);">
            <div class="col-lg-5 col-sm-12 justify-content-center align-self-center">
                <h2>{% translate "Password Reset" %}</h2>

                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                <form method="post" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    <table class="table table-borderless">
                        {{ form.as_table }}
                    </table>
                    <button type="submit" class="btn btn-info" role="button">
                        {% translate "Reset My Password" %}
                    </button>
                </form>
                <br>
                <p>{% blocktrans %}Please contact us if you have any trouble resetting your
                    password.{% endblocktrans %}</p>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
