{% extends "sample/base.html" %}
{% load i18n %}

{% block container %}
    <div class="container-fluid">
        <div class="row px-5" style="height: calc(100vh - 56px);">
            <div class="col-lg-5 col-sm-12 justify-content-center align-self-center">
                <h2>{% translate "Verify Your E-mail Address" %}</h2>
                <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize
                    the signup process. Please contact us if you do not receive it within a few
                    minutes.{% endblocktrans %}</p>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
