{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha256-T/zFmO5s/0aSwc6ics2KLxlfbewyRz6UNw1s3Ppf5gE=" crossorigin="anonymous">

    {% block title %}
        <title>Docker+Django Template</title>
    {% endblock %}
    <style>
        .navbar-nav {
            font-size: 1rem !important;
        }

        ul.errorlist {
            list-style-type: none;
            padding: 0;
            margin: 0;
            color: red;
        }

        .helptext ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    </style>
    {% block styles %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark px-5">
    <a class="navbar-brand" href="{% url "sample:landing" %}">Docker+Django Template</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        </ul>
        <ul class="navbar-nav ml-auto">
            {% block navbar %}
                {% if request.user.is_authenticated %}
                    <li>
                        <a class="nav-link" href="{% url "account_logout" %}">{% translate "Logout" %}</a>
                    </li>
                {% else %}
                    <li>
                        <a class="nav-link" href="{% url "account_login" %}">{% translate "Login" %}</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url "account_signup" %}">{% translate "Register" %}</a>
                    </li>
                {% endif %}
            {% endblock %}
        </ul>
    </div>
</nav>

{% block container %}
{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha256-/ijcOLwFf26xEYAjW75FizKVo5tnTYiQddPZoLUHHZ8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha256-7dA7lq5P94hkBsWdff7qobYkp9ope/L5LQy2t/ljPLo=" crossorigin="anonymous"></script>

{% block scripts %}
{% endblock %}
</body>
</html>
