{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {% block title %}
        <title>Docker+Django Template</title>
    {% endblock %}
    <style>
        .navbar-nav {
            font-size: 1rem !important;
        }

        ul.errorlist {
            list-style-type: none;
            padding: 0;
            margin: 0;
            color: red;
        }

        .helptext ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
    </style>
    {% block styles %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark px-5">
    <a class="navbar-brand" href="{% url "sample:landing" %}">Docker+Django Template</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        </ul>
        <ul class="navbar-nav ml-auto">
            {% block navbar %}
                {% if user.is_authenticated %}
                    <li>
                        <a class="nav-link" href="{% url "sample:logout" %}">{% translate "Logout" %}</a>
                    </li>
                {% else %}
                    <li>
                        <a class="nav-link" href="{% url "sample:login" %}">{% translate "Login" %}</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url "sample:register" %}">{% translate "Register" %}</a>
                    </li>
                {% endif %}
            {% endblock %}
        </ul>
    </div>
</nav>

{% block container %}
{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

{% block scripts %}
{% endblock %}
</body>
</html>
