{% extends "sample/base.html" %}
{% load i18n %}

{% block container %}
    <div class="container-fluid">
        <div class="row px-5" style="margin-top: 50px; margin-bottom: 50px;">
            <div class="col-lg-12 col-sm-12 justify-content-center align-self-center">
                <h2>{% translate "Registration Successful!" %}</h2>
                <p>{% translate "We have sent a verification email to" %} {{ email }}.</p>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
