{% extends "sample/base.html" %}
{% load i18n %}

{% block container %}
    <div class="container-fluid">
        <div class="row px-5" style="margin-top: 50px; margin-bottom: 50px;">
            <div class="col-lg-12 col-sm-12 justify-content-center align-self-center">
                {% if verified %}
                    <h2>{% translate "User Verified!" %}</h2>
                    <p>{% translate "You may now start using Docker+Django Template." %}</p>
                {% else %}
                    <h2 style="color: red;">{% translate "Invalid token!" %}</h2>
                    <p style="color: red;">{% translate "Sorry but we cannot verify your account." %}</p>
                {% endif %}
            </div>
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}
